<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" charset="utf-8"></script>

    <title>ArtExplorer</title>
</head>
<body>
  <header>
    <h1 class="title">ArtExplorer</h1>
    <p class="subtitle">Select an artwork that you want to explore 🌎!</p>
  </header>

  <div class="container">
      {% for art in artworks: %}
    <div class="item" onclick="window.location='{{ url_for("analysis", title=art.get_title()) }}';">
      <div class="image">
        <img src="{{ art.get_url() }}" />
      </div>
        <div class="ban">
          <div class="title-ban">
              <p>{{ art.get_title() }}</p>
          </div>
          <div class="detail-ban">
<!--            <p class="author">Botticelli</p>-->
            <p class="year">{{ art.get_year() }}</p>
          </div>
        </div>
    </div>
      {% endfor %}
  </div>
</body>
</html>