<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" charset="utf-8"></script>

    <title>ArtExplorer</title>
</head>
<body>
  <header>
    <h1 class="title">ArtExplorer</h1>
    <p class="subtitle">Select an artwork that you want to explore 🌎!</p>
  </header>

  <div class="search-bar">
      <input id="search-input" type="text" placeholder="Type the title of an artwork...">
      <button id="search-btn" onclick="searchArtworks();">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">
              <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"/>
          </svg>
      </button>
  </div>

  <div class="container">
      <div class="arrow-container">
        <img class="arrow left" src="{{ url_for('static', filename='img/arrow.png') }}" onclick="previousPage();"/>
      </div>

      <div class="art-container">
          {% for art in artworks: %}
        <div class="item" onclick="window.location='{{ url_for("analysis", title=art.get_title()) }}';">
          <div class="image">
            <img src="{{ art.get_url() }}" />
          </div>
            <div class="ban">
              <div class="title-ban">
                  <p>{{ art.get_title() }}</p>
              </div>
              <div class="detail-ban">
    <!--            <p class="author">Botticelli</p>-->
                <p class="year">{{ art.get_year() }}</p>
              </div>
            </div>
        </div>
          {% endfor %}
      </div>

      <div class="arrow-container">
        <img class="arrow right" src="{{ url_for('static', filename='img/arrow.png') }}" onclick="nextPage();"/>
      </div>
  </div>
</body>

<div class="item to-clone">
      <div class="image">
        <img src="" />
      </div>
        <div class="ban">
          <div class="title-ban">
              <p></p>
          </div>
          <div class="detail-ban">
            <p class="year"></p>
          </div>
        </div>
    </div>
</html>