/* GLOBAL */

body {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.container {
  width: 100%;
  max-height: 95vh;
  display: flex;
  flex-direction: row;
  margin: auto;
}

/* PAINT */

.paint {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paint img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

/* lazo */

.bboxes {
  position: absolute;
  z-index: 2;
}

.lazo {
  width: 10%;
  height: 10%;
  position: absolute;
  border: 2px solid rgb(57, 192, 237);
  cursor: pointer;
}

.lazo.hide {
  display: none;
}

.lazo:hover {
  background: rgba(0, 188, 255, 0.20);
}

.lazo .vertex {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  position: absolute;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(222, 226, 230);
}

.lazo .vertex:nth-child(1) {
  top: -0.5em;
  left: -0.5em;
}

.lazo .vertex:nth-child(2) {
  top: -0.5em;
  right: -0.5em;
}

.lazo .vertex:nth-child(3) {
  bottom: -0.5em;
  right: -0.5em;
}

.lazo .vertex:nth-child(4) {
  bottom: -0.5em;
  left: -0.5em;
}

/* CHAT */

.chat {
  width: 40%;
  border: 1px solid rgb(198, 201, 204);
  border-radius: 0 0.75rem 0.75rem 0;
  display: flex;
  flex-direction: column;
}

/* body */

.chat .body {
  height: 100%;
  padding: 0.75rem;
  overflow-y: auto;
}

/* messages */

.chat .msg {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  position: relative; /* for animation */
  top: 2rem;
  word-break: break-all;
}

.chat .msg.from {
  margin-right: 4.1rem;
  justify-content: flex-start;
}

.chat .msg.to {
  margin-left: 4.1rem;
  justify-content: flex-end;
}


.chat .msg.from.hide,
.chat .msg.to.hide {
  display: none;
}

.chat .msg img {
  width: 2.8rem;
  height: 2.8rem;
}

.chat .msg.from img {
  order: 0;
}

.chat .msg.to img {
  order: 1;
}

.chat .msg .text {
  border-radius: 0.75rem;
  padding: 1rem;
  margin: 0 1rem;
}

.chat .msg.from .text {
  background-color: rgba(251, 251, 251);
  border: 1px solid rgb(222, 226, 230);
}

.chat .msg.to .text {
  background-color: rgba(57, 192, 237,.2);
}

.chat .msg .text p {
  margin: 0;
}

/* input bar */

.chat .input {
  margin: 1rem 1.75rem;
  display: flex;
  flex-direction: row;
}

.chat .input textarea {
  height: 1.2rem;
  margin-right: 0.5rem;
  border-radius: 1.4rem;
  padding: 0.5rem 1.4rem;
  flex-grow: 1;
  font-family: inherit;
  font-size: 0.8rem;
  resize: none;
}

.chat .input .btn img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  margin-right: 0.5rem;
  border-radius: 30%;
}

.chat .input .send-btn img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  border-radius: 100%;
  background-color: rgb(57, 192, 237);
}

/* typing animation */

.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: typingAnimation 1.8s infinite ease-in-out;
  background-color: rgba(57, 192, 237,.7);
  border-radius: 50%;
  height: 5px;
  margin-right: 4px;
  vertical-align: middle;
  width: 5px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes typingAnimation {
  0% {
    transform: translateY(0px);
    background-color:rgba(57, 192, 237,.7);
  }
  28% {
    transform: translateY(-7px);
    background-color: rgba(57, 192, 237,.4);
  }
  44% {
    transform: translateY(0px);
    background-color: rgba(57, 192, 237,.2);
  }
}
